
@mixin nunito {
    font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
}

@mixin centerer {
    max-width: 170rem;
    margin:0 auto;
}