//COLORS

$color-black: black;
$color-purple-darkest: #0b0c11;
$color-white: white;
$color-grey: #4e4f50;
$color-grey-light: #bebebe;
$color-grey-dark: rgb(14, 13, 13);
$color-purple-dark:#2e2d3b;
$color-red:#821031;
$color-green:#629c53;
$color-yellow:#dccd6a;
$color-blue:#359cc3;




//PADDINGS

$padding-big: 6.3rem;
$padding-small: 2.7rem;



//FONT SIZE

$font-size-default: 2.5rem;